<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} Blogs {% endblock %}
    </title>
    <link rel="icon" type="image/png" href="https://i.ibb.co/sVjRZvh/colorful-star.png">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#e9f0f2">
        <nav class="navbar navbar-expand-sm sticky-top navbar-light" style="background-color: #e3f2fd;">
             <a class="navbar-brand" href="#"> <img src="https://i.ibb.co/sVjRZvh/colorful-star.png" height="30" width="30"> BLOGHOST </a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/stories/">view</a></li>
                <li class="nav-item"><a class="nav-link" href="/stories/create/">create</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
</body>
</html>