{% extends 'base.html' %}
{% block title %} Stories {% endblock %}
{% block content %}

    <div class="p-3 mb-2 bg-light text-dark">
        <h1>Welcome!!!  {{request.user}}</h1>
        {% if allblogs %}
        <ul>
            {% for story in allblogs %}
                <li>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src={{story.picture}} alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{story.title}}</h5>
                            <p class="card-text">{{story.description}}</p>
                            <a href="{% url 'stories:blog_number_ref' story.id %}" class="btn btn-primary">visit</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
              <p>Nothing here!!</p>
        {% endif %}
    </div>

{% endblock %}
